.content-section{
    width: 100%;
    padding: 3rem 2rem;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.content-section .content-section1{
    width: 50%;
}

.content-section .content-section1 img{
    width: 100%;
    height: 100%;
}

.content-section .content-section2{
    background-color: #F3F4F6;
    height: 80vmin;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-section .content-section2 h2{
    font-size:xx-large;
}

.content-section .content-section2 h2, p{
    width: 60%;
    text-align: left;
}

.content-section .content-section2 button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vmin;
    height: 6vmin;
    margin: 1.2rem;
    border-radius: 5px;
    border: none;
    font-size: 2.4vmin;
    cursor: pointer;
    color: white;
    background-color: #3a42ea;
}

.content-section .content-section2 button:hover{
    background-color: white;
    color: #3a42ea;
    border: 1px solid #3a42ea;
}